# Dépendances Node.js
node_modules/

# Fichiers de log
*.log
npm-debug.log*
yarn-error.log*

# Fichiers de l'OS (macOS)
.DS_Store

# Fichiers de l'OS (Windows)
Thumbs.db


# Fichiers de cache ou temporaires
.cache/
tmp/