# Dépendances Node.js
/node_modules/

# Fichiers de log
*.log

# Fichiers de l'OS (macOS)
.DS_Store

# Fichiers de l'OS (Windows)
Thumbs.db

# Variables d'environnement
.env

# Fichiers de cache ou temporaires
npm-debug.log*
yarn-error.log*